
.ui.comments
    if post.Comments.length
        for comment in post.Comments
            .comment(id=comment.id)
                a.avatar
                    img(src='/images/avatar.png')
                .content
                    a.author(href=`/user-page/${comment.User.userName}`)
                        | #{comment.User.userName}
                    span.right.floated   
                        if comment.User.id === user._id
                            i#comment-delete-btn.trash.icon(style="cursor:pointer")
                    .text
                        | #{comment.text}
                    #published-date(style="color:#A2A2A2;font-size:12px;")
                        | #{moment(comment.createdAt).fromNow()}
                        