extends layout

block content

  include header

  .ui.middle.aligned.center.aligned.grid(style="margin-top:100px")
    .ui.container(style="width:1000px")
      .image(style="width:65%;height:100%;float:left;margin-right:1%")
        img.ui.big.image(src=`${post[0].content}`,style="width:100%")
      .ui.card(style="margin-top:0;width:34%;height:600px;float:left")
        .content(style="height:10%")
          img.ui.avatar.image(src="/images/avatar.png")
          a(href=`/user-page/${post[0]["User.userName"]}`, style="color: #000;")
            | #{post[0]["User.userName"]}
          span.right.floated
            if post[0].publisherId === user._id
              i#post-update-btn.edit.icon(style="cursor:pointer")
              i#post-delete-btn.trash.icon(style="cursor:pointer")
            .right.floated.meta #{moment(post[0].createdAt).fromNow()}
        .content(style="height:20%;overflow:auto")
          |  #{post[0].text}
        .content(style="height:50%;overflow:auto")
          include comment
        .content(style="height:10%")
          if user.islikedPost
            i#post-like-btn.heart.red.like.icon
          else
            i#post-like-btn.heart.outline.like.icon
          span#likes-count(style="cursor:pointer") 좋아요 #{likersCount} 개
          include liker-list
        .extra.content(style="height:10%")
          .ui.large.transparent.input(style="width:100%")
            input#comment(type='text', name='text' placeholder='댓글 달기...')

  script(src='/javascripts/detail.js')
  script(type = 'module' src='/javascripts/comment.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js')